<mat-card class="card-body" routerLink="{{data.title}}">
  <div class="img-frame">
    <div class="img">
      <img alt="Visual representation of card content"
           src="{{data.urlToImage | isNullOrEmpty:'assets/img/cards/card-placeholder.jpg' }}">
    </div>
  </div>
  <br>
  <mat-card-content>
    <p class="title">
      {{data.title | trim:55 }}
    </p>
    <br>
    <p class="description">
      {{data.content | trim:65 }}
      <mat-icon color="accent">arrow_forward_ios</mat-icon>
    </p>
  </mat-card-content>
  <br>
  <mat-card-actions>
    <p class="date">
      {{data.publishedAt | date:'medium'}}
    </p>
  </mat-card-actions>
</mat-card>
